/*main.css*/

@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p, div, span, a, table, th, td, input, textarea, option, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, small, button {
	font-family: 'KyoboHand';
	/* font-size: 1.2em; */
	
}



html, body {
	background-color: #fae1dd;
	height: 100%;
}

html {
	overflow-y: scroll;
	}

.main {
	background-color: #f8edeb;
	width: 800px;
	min-height: 100%;
	margin: 0px auto;
	box-shadow: 0px 0px 5px #ffadad;
}

.header {
	height: 80px;
	border-bottom: 1px solid #f08080;
	padding: 20px;
	
}

.content {
	height: 650px;
	padding: 20px;
}

.footer {
	height: auto;
	border-top: 1px solid #f08080;
	padding: 20px;
	text-align : center;
	color: #495057;
}


.header .title {
	margin: 0;
	padding: 0;
	font-variant: small-caps;
	cursor: pointer;
	
}

.header .menu {
	float: right;
	list-style: none;
	font-variant: small-caps;
}

.header .menu li {
	float: left;
	margin: -10px 10px;
	cursor: pointer;
	
}

.header .menu li:hover {
	color: #c9184a;
}


.header .menu {
	font-size: 1.2em;
}



/* 목록보기 테이블 */
.table.list {
	width: 700px;
	margin: 0px auto;
	background-color: #F1EDED;
	border-color: #b5838d;
}
.table.list th {
	background-color: #f08080;
	color : white;
}

.table.list th, .table.list td { text-align: center; }

.table.list th:nth-child(1) { width: 60px; }
.table.list th:nth-child(2) { width: auto; }
.table.list th:nth-child(3) { width: 80px; }
.table.list th:nth-child(4) { width: 120px; }
.table.list th:nth-child(5) { width: 60px; }
.table.list td:nth-child(2) { text-align: left; }


/* 버튼 컨테이너 */
.btns {
	width: 700px;
	margin: 20px auto;	
	text-align: right;
}


/* 글쓰기 테이블 */
.table.add {
	width: 700px;
	margin: 0 auto;
}

.table.add th { width: 150px; text-align: center; vertical-align: middle; }
.table.add td { width: 550px; }

.table.add textarea { resize: none; height: 300px; }







.form-control:focus {
	border-color: #CCC;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}


















